<h2> Edit Line </h2>
<div class="well">

<%= form_for(@line) do |f| %>
<div class="form-group">
<%= f.label :color %>
<%= f.text_field :color %>
<br />
<%= hidden_field_tag "line[station_ids][]", nil %>
<% Station.all.each do |station| %>
  <%= check_box_tag "line[station_ids][]", station.id, @line.station_ids.include?(station.id), id:   dom_id(station) %>
  <%= label_tag dom_id(station), station.name %><br>
<% end %>

</div>

  <br />
  <br />
<%= f.submit(:class => "btn btn-primary") %>
<% end %>

</form>
  </div>
